body {
  max-width: 500px;
  margin: auto;
  background-color: #C0C0C0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

img {
  max-width: 300px;
  max-height: 300px;
  border: 10px;
  box-shadow: black 1px 0 5px;
}



h1 {
  max-width: 500px;
  text-align: center;
  text-shadow: black 1px 0 10px;
  font-size: 300%;
}



h2 {
  max-width: 500px;
  text-align: center;
  text-shadow: black 1px 0 10px;
  font-size: 200%;
}


