<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>P1</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.revature.servlet.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>com.revature.servlet.Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestEmpServlet</display-name>
    <servlet-name>SubmitRequestEmpServlet</servlet-name>
    <servlet-class>com.revature.servlet.SubmitRequestEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestEmpServlet</servlet-name>
    <url-pattern>/SubmitRequestEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestEmpServlet</display-name>
    <servlet-name>ViewRequestEmpServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewRequestEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestEmpServlet</servlet-name>
    <url-pattern>/ViewRequestEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfoEmpServlet</display-name>
    <servlet-name>EditInfoEmpServlet</servlet-name>
    <servlet-class>com.revature.servlet.EditInfoEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfoEmpServlet</servlet-name>
    <url-pattern>/EditInfoEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestMgrServlet</display-name>
    <servlet-name>ViewRequestMgrServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewRequestMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestMgrServlet</servlet-name>
    <url-pattern>/ViewRequestMgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeamMgrServlet</display-name>
    <servlet-name>ViewTeamMgrServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewTeamMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeamMgrServlet</servlet-name>
    <url-pattern>/ViewTeamMgr</url-pattern>
  </servlet-mapping>
</web-app>